body {
    margin: 10px;
}

.container {

}

.round {
    border-radius: 5px;
}

.playing {
    background-color: #ebf2f9;
}

.group {
    margin-bottom: 15px;
}

.group:last-child {
    margin-bottom: 0;
}

.group-title {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.group-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.box:hover {
    background-color: #ebf2f9;
}

.box:last-child {
    border-bottom: none;
}

.box .col {
    display: inline-block;
    vertical-align: top;
}

.box .img {
    width: 25%;
    margin-right: 10px;
}

.box .content {
    width: 65%;
}

.box-title {}

.box-attribute-list {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}

.box-attribute-item {
    padding-bottom: 5px;
}

.box-attribute-item:last-child {
    padding-bottom: 0;
}

.box-2 .img {
    width: 20%;
    margin-right: 10px;
}

.box-2 .content {
    width: 72%;
}

.box-2 .box-attribute-item {
    display: inline-block;
    padding-right: 20px;
}

.controls {
    text-align: center;
    padding: 5px 0;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 3s linear infinite;
}