body {
    margin: 10px;
}

.container {

}

.group {
    margin-bottom: 15px;
}

.group:last-child {
    margin-bottom: 0;
}

.group-title {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.group-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.box:hover {

}

.box:last-child {
    border-bottom: none;
}

.box .col {
    display: inline-block;
    vertical-align: top;
}

.box .img {
    width: 25%;
    margin-right: 10px;
}

.box .content {
    width: 68%;
}

.box-title {}

.box-attribute-list {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}

.box-attribute-item {
    padding-bottom: 5px;
}

.box-2 .img {
    width: 15%;
    margin-right: 10px;
}

.box-2 .box-attribute-item {
    display: inline-block;
    padding-right: 20px;
}

