<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hipchat Music</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="group">
            <h6 class="group-title">Now Playing</h6>
            <div class="group-content">
                <div class="box round playing">
                    <img class="aui-avatar aui-avatar-project col img rotating" src="http://placehold.it/64x64" />
                    <div class="col content">
                        <h6 class="box-title">Loading...</h6>
                        <ul class="box-attribute-list">
                            <li class="box-attribute-item">
                                <span class="aui-icon aui-icon-small aui-iconfont-time"></span>
                                <span class="timeclasp">0:0</span> /
                                <span class="duration">0:0</span>
                            </li>
                            <li class="box-attribute-item">
                                <span class="aui-icon aui-icon-small aui-iconfont-space-personal"></span>
                                <span class="sender"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="group playlist">
            <h6 class="group-title">Upcoming Songs</h6>
            <div class="group-content">

            </div>
        </div>

        <div class="group">
            <div class="group-content">
                <div class="controls round">
                    <div class="aui-buttons">
                        <button class="aui-button mute"><span class="aui-icon aui-icon-small aui-iconfont-file-wav">Listen Outside Room </span> Mute</button>
                        <button class="aui-button live-player"><span class="aui-icon aui-icon-small aui-iconfont-share">Listen Outside Room </span> Listen Outside Room</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-mustache" id="queue-item">
        <div class="box box-2">
            <img class="aui-avatar aui-avatar-project col img" src="{{ thumb }}" />
            <div class="col content">
                <h6 class="box-title">{{ title }}</h6>
                <ul class="box-attribute-list">
                    <li class="box-attribute-item">
                        <span class="aui-icon aui-icon-small aui-iconfont-time"></span>
                        {{ duration }}
                    </li>
                    <li class="box-attribute-item">
                        <span class="aui-icon aui-icon-small aui-iconfont-space-personal"></span>
                        {{ sender }}
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <div id="player"></div>
    <script>
        var VIDEO_LIST = <%= videos %>;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.js"></script>
    <script src="assets/js/popup-state.js"></script>
    <script src="assets/js/player.js"></script>

</body>
</html>