<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Hipchat Music</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="group">
            <h6 class="group-title">Now Playing</h6>
            <div class="group-content">
                <div class="box">
                    Nguyen Hong Phong
                </div>
            </div>
        </div>

        <div class="group">
            <h6 class="group-title">Upcoming Songs</h6>
            <div class="group-content">
                <div class="box">
                    <img class="img" src="http://placehold.it/65x65" />
                    <div class="content">
                        phong
                    </div>
                </div>
                <div class="box">
                    <img class="img" src="http://placehold.it/65x65" />
                    <div class="content">
                        phong
                    </div>
                </div>
                <div class="box">
                    <img class="img" src="http://placehold.it/65x65" />
                    <div class="content">
                        phong
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>